@page "/about"

<h3>MTT Demo Deploy - Tollbooth Sample App</h3>

<p>This app is part of the serverless Tollbooth MTT Demo Deploy sample app, allowing trainers to trigger a file upload to Azure Blob Storage. Once the upload is complete, it kicks of a series of Azure Functions, Azure Cognitive Service integration to read out Car License Plate information, which then gets stored into Azure Cosmos DB.</p>

<h5>Tollbooth Scenario - Azure Architecture</h5>


    <img src="./tollbooth-diagram.png" style="width:80%;max-width:2000px" " alt="Tollbooth Azure Architecture"/>


@code {

}
